<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>UNZ Prédict</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="static/img/logo.jpg" rel="icon">
    <link href="static/img/logo.jpg" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/quill/quill.snow.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/quill/quill.bubble.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/remixicon/remixicon.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/simple-datatables/style.css') }}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ url_for('static', filename='/css/style.css') }}" rel="stylesheet">

    <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Nov 17 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <main>
        <div class="container">

            <section
                class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-md-12 d-flex flex-column align-items-center justify-content-center">

                            <div class="card mb-3">

                                <div class="card-body">
                                    <div class="d-flex justify-content-center py-4">
                                        <span class="d-block"><img class="img-fluid img-thumbnail"
                                                src="static/img/logo.jpg" alt="" width="300px"></span>

                                    </div><!-- End Logo -->


                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Bienvenu sur UNZ Prédict</h5>
                                        <p class="text-center small">Veuillez remplir les champs</p>
                                        <p class="text-center small text-danger">NB: Les notes doivent être pour la
                                            session normale</p>
                                    </div>

                                    <form id="predictionForm" action="{{ url_for('predict')}}" method="post"
                                        class="row g-3 needs-validation " novalidate>
                                        <div class="row">

                                            <div class="col-12 col-md-4 mb-3">
                                                <input type="number" name="Mat" class="form-control" id="Mat"
                                                    value="{{ valid_values['Mat'] if 'Mat' in valid_values else '' }}"
                                                    required placeholder="Math S1">

                                                {% if error_messages and 'Mat' in error_messages %}
                                                <div class="text-danger">{{ error_messages['Mat'] }}</div>
                                                {% endif %}
                                            </div>

                                            <div class="col-12 col-md-4 mb-3">
                                                <input type="number" name="Mi1" class="form-control" id="Mi1"
                                                    value="{{ valid_values['Mi1'] if 'Mi1' in valid_values else '' }}"
                                                    required placeholder="Microéconomie S1">

                                                {% if error_messages and 'Mi1' in error_messages %}
                                                <div class="text-danger">{{ error_messages['Mi1'] }}</div>
                                                {% endif %}
                                            </div>

                                            <div class="col-12 col-md-4 mb-3">
                                                <input type="number" name="Total_S1" class="form-control" id="Total_S1"
                                                    value=" {{ valid_values['Total_S1'] if 'Total_S1' in valid_values else '' }}"
                                                    required placeholder="Total S1">
                                                {% if error_messages and 'Total_S1' in error_messages %}
                                                <div class="text-danger">{{ error_messages['Total_S1'] }}</div>
                                                {% endif %}
                                                {% if error_messages and 'Total_S1_exceed' in error_messages %}
                                                <div class="text-danger">{{ error_messages['Total_S1_exceed'] }}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <br><br><br>

                                        <div class="row">
                                            <div class="col-12 col-md-4 mb-3">
                                                <input type="number" name="Moyenne_S1" class="form-control"
                                                    id="Moyenne_S1" required readonly placeholder="Moyenne S1"
                                                    value="{{ valid_values['Moyenne_S1'] if 'Moyenne_S1' in valid_values else '' }}">
                                                {% if error_messages and 'Moyenne_S1' in error_messages %}
                                                <div class="text-danger">{{ error_messages['Moyenne_S1'] }}</div>
                                                {% endif %}
                                                {% if error_messages and 'Moyenne_S1_exceed' in error_messages %}
                                                <div class="text-danger">{{ error_messages['Moyenne_S1'] }}</div>
                                                {% endif %}
                                            </div>

                                            <div class="col-12 col-md-4 mb-3">
                                                <select class="form-control" id="selectValue"
                                                    onchange="disablePlaceholderOption1()" name="Résultat_S1"
                                                    value="{{ valid_values['Résultat_S1'] if 'Résultat_S1' in valid_values else '' }}">
                                                    <option value="2" selected>Résultat S1</option>
                                                    <option value="0">Ajourné (e)</option>
                                                    <option value="1">Admis (e)</option>
                                                </select>
                                                {% if error_messages and 'Résultat_S1' in error_messages %}
                                                <div class="text-danger">{{ error_messages['Résultat_S1'] }}</div>
                                                {% endif %}
                                            </div>

                                            <div class="col-12 col-md-4 mb-3">
                                                <input type="number" name="Mi2" class="form-control" id="Mi2" required
                                                    value="{{ valid_values['Mi2'] if 'Mi2' in valid_values else '' }}"
                                                    placeholder="Microéconomie S2">
                                                {% if error_messages and 'Mi2' in error_messages %}
                                                <div class="text-danger">{{ error_messages['Mi2'] }}</div>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <br><br><br>

                                        <div class="row">
                                            <div class="col-12 col-md-4 mb-3">
                                                <input type="number" name="Total_S2" class="form-control" id="Total_S2"
                                                    required placeholder="Total S2"
                                                    value="{{ valid_values['Total_S2'] if 'Total_S2' in valid_values else '' }}">
                                                {% if error_messages and 'Total_S2' in error_messages %}
                                                <div class="text-danger">{{ error_messages['Total_S2'] }}</div>
                                                {% endif %}
                                                {% if error_messages and 'Total_S2_exceed' in error_messages %}
                                                <div class="text-danger">{{ error_messages['Total_S2_exceed'] }}</div>
                                                {% endif %}
                                            </div>
                                            <div class="col-12 col-md-4 mb-3">
                                                <input type="number" name="Moyenne_S2" class="form-control"
                                                    id="Moyenne_S2" required readonly placeholder="Moyenne S2"
                                                    value="{{ valid_values['Moyenne_S2'] if 'Moyenne_S2' in valid_values else '' }}">
                                                {% if error_messages and 'Moyenne_S2' in error_messages %}
                                                <div class="text-danger">{{ error_messages['Moyenne_S2'] }}</div>
                                                {% endif %}
                                                {% if error_messages and 'Moyenne_S2_exceed' in error_messages %}
                                                <div class="text-danger">{{ error_messages['Moyenne_S2_exceed'] }}</div>
                                                {% endif %}
                                            </div>
                                            <div class="col-12 col-md-4 mb-3">
                                                <select class="form-control" id="selectValue2"
                                                    onchange="disablePlaceholderOption2()" name="Résultat_S2"
                                                    value="{{ valid_values['Résultat_S2'] if 'Résultat_S2' in valid_values else '' }}">
                                                    <option value="3" selected>Résultat S2</option>
                                                    <option value="0">Ajourné (e)</option>
                                                    <option value="1">Admis (e)</option>
                                                </select>

                                                {% if error_messages and 'Résultat_S2' in error_messages %}
                                                <div class="text-danger">{{ error_messages['Résultat_S2'] }}</div>
                                                {% endif %}
                                            </div>
                                        </div>


                                        <div class="col-12">
                                            <div class="form-check">
                                                <input class="form-check-input" name="terms" type="checkbox" value=""
                                                    id="acceptTerms" required>
                                                <label class="form-check-label" for="acceptTerms">J'accepte les <a
                                                        href="#" data-bs-toggle="modal"
                                                        data-bs-target="#staticBackdrop">terms et conditions</a></label>
                                            </div>
                                        </div>

                                        <!-- Le bouton de prédiction -->
                                        <div class="col-12" {% if prediction_available %}style="display: none;" {% endif
                                            %}>
                                            <button id="submitBtn" class="btn btn-primary w-100 shadow text-center"
                                                type="submit">Prédire</button>
                                        </div>

                                        <!-- Le deuxième bouton invisible -->
                                        <div class="col-12" {% if not prediction_available %}style="display: none;" {%
                                            endif %}>
                                            <button id="openModalBtn" class="btn btn-success w-100 shadow" type="button"
                                                data-bs-target="#exampleModal" data-bs-toggle="modal">Voir le
                                                résultat</button>
                                        </div>

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Résultat de
                                                            la prédiction</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h4 class="text-center {{ text_color_class }}">{{
                                                            prediction_text }}</h4>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button id="closeBtn" type="button" class="btn btn-danger"
                                                            data-bs-dismiss="modal">Fermé</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <script>
                                            document.getElementById('closeBtn').addEventListener('click', function () {
                                                // Rediriger l'utilisateur vers '/your-url' lorsque le bouton "Fermé" est cliqué
                                                window.location.href = '/';
                                            });
                                        </script>

                                        <!-- Modal -->
                                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                            data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                            aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-scrollable">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="staticBackdropLabel">Termes et conditions
                                                            d'utilisation</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <ol class="">
                                                            <li>Vous êtes autorisé à utiliser notre service à des fins
                                                                personnelles uniquement.</li> <br>
                                                            <li>Vous acceptez de respecter les lois et règlements en
                                                                vigueur lors de l'utilisation de notre service.</li> <br>
                                                            <li>Vous comprenez que toute utilisation abusive ou
                                                                inappropriée de notre service peut entraîner des mesures
                                                                disciplinaires.</li> <br>
                                                            <li>Vous acceptez de ne pas utiliser notre service pour
                                                                diffuser du contenu offensant, illégal ou nuisible.</li> <br>
                                                            <li>Nous nous réservons le droit de modifier ou de mettre
                                                                fin à notre service à tout moment, sans préavis.</li> 
                                                        </ol>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger"
                                                            data-bs-dismiss="modal">Fermer</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </form>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
        </div>

        </section>

    </main><!-- End #main -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename='vendor/apexcharts/apexcharts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/chart.js/chart.umd.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/echarts/echarts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/quill/quill.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/simple-datatables/simple-datatables.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>

    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>